*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section,
article,
aside,
footer,
header,
nav,
hgroup,
main {
  display: block;
}

a:active,
a:focus {
  outline: none;
}

input,
textarea {
  outline: none;
}

input:active,
textarea:active {
  outline: none;
}

button:active,
button:focus {
  outline: none;
}

:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: $color-white;
  font-family: $ff-a;
  color: $color-black;
  min-width: 320px;
}

a {
  color: $color-black;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}
