.breadcrumbs {
  $comp: &;

  $color-gray: #949494;
  
  $gap-vert: 6px;
  $gap-hor: 10px;

  margin-top: -$gap-vert;
  margin-left: -$gap-hor;
  display: flex;
  @media (min-width: $breakpoint) {
    flex-wrap: wrap;
  }
  @media (max-width: $breakpoint - 1px) {
    overflow: auto;
  }

  &--margin-bottom {
    &--default {
      margin-bottom: 40px;
      @media (min-width: $breakpoint) {
        margin-bottom: 80px;
      }
    }
  }

  &--in {
    &--product {
      @media (max-width: $breakpoint - 1px) {
        margin-top: 10px;
      }
      margin-bottom: 20px;
      @media (min-width: $breakpoint) {
        margin-bottom: 60px;
      }
    }
  }

  &__item {
    margin-top: $gap-vert;
    margin-left: $gap-hor;
    display: flex;

    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;

    &--highlight {
      #{$comp}__decor,
      #{$comp}__text {
        color: $color-black;
      }
    }
  }

  &__decor,
  &__text {
    color: $color-gray;
  }

  &__decor {
    margin-right: $gap-hor;
  }
}
