// .catalog {
//   display: flex;
//   flex-wrap: wrap;
//   background: $color-gray-border;
//   justify-content: space-between;
//   align-items: stretch;
//   padding: 1px;

//   &__item {
//     width: calc((100% - 3px)/4);
//     margin-top: 1px;

//     &:nth-child(-n+4) {
//       margin-top: 0;
//     }

//     @media (max-width: $breakpoint - 1px) {
//       width: calc((100% - 1px)/2);

//       &:nth-child(-n+4) {
//         margin-top: 1px;
//       }

//       &:nth-child(-n+2) {
//         margin-top: 0;
//       }
//     }
//   }
// }

// .catalog-space {
//   background: $color-white;
//   margin-top: 1px;
//   &--three {
//     width: calc((100%-3px)/4*3);
//   }
// }

.catalog {
  position: relative;
  z-index: 0;

  $cols: 2;
  width: calc(100% + #{$cols + 2}px);
  @media (min-width: 768px) {
    $cols: 3;
    width: calc(100% + #{$cols + 2}px);
  }
  @media (min-width: 1024px) {
    $cols: 2;
    width: calc(100% + #{$cols + 2}px);
  }
  @media (min-width: 1366px) {
    $cols: 3;
    width: calc(100% + #{$cols + 2}px);
  }
  @media (min-width: 1680px) {
    $cols: 4;
    width: calc(100% + #{$cols + 2}px);
  }
  @media (min-width: 1920px) {
    $cols: 5;
    width: calc(100% + #{$cols + 2}px);
  }
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  &__item {
    margin-top: -1px;
    margin-left: -1px;
    $cols: 2;
    width: calc(100% / #{$cols});
    @media (min-width: 768px) {
      $cols: 3;
      width: calc(100% / #{$cols});
    }
    @media (min-width: 1024px) {
      $cols: 2;
      width: calc(100% / #{$cols});
    }
    @media (min-width: 1366px) {
      $cols: 3;
      width: calc(100% / #{$cols});
    }
    @media (min-width: 1680px) {
      $cols: 4;
      width: calc(100% / #{$cols});
    }
    @media (min-width: 1920px) {
      $cols: 5;
      width: calc(100% / #{$cols});
    }
    flex-shrink: 0;
  }
}