.container {
    padding: 0 $grid-pad-m;
    @media (min-width: $breakpoint) {
        padding: 0 $grid-pad-d;
    }
    width: 100%;

    &--alt {
        @media (min-width: $breakpoint) {
            padding: 0 $grid-pad-d 0 $grid-gap-d;
        }
    }
}