.docs {
  &__container {
    margin-top: 60px;
    padding-bottom: 60px;
    @media (min-width: $breakpoint) {
      margin-top: 0;
      padding-top: 120px;
      padding-bottom: 160px;
    }
  }

  &__section {
    &:not(:first-child) {
      margin-top: 60px;
      @media (min-width: $breakpoint) {
        margin-top: 160px;
      }
    }
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    @media (min-width: $breakpoint) {
      font-size: 26px;
      line-height: 36px;
    }
  }

  &__docs {
    margin-top: 40px;
    @media (min-width: $breakpoint) {
      margin-top: 60px;
    }
  }

  &__list {
    margin-top: -10px;
    margin-left: -20px;
    @media (min-width: $breakpoint) {
      margin-top: -40px;
      margin-left: -40px;
    }
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  &__item {
    margin-top: 10px;
    margin-left: 20px;
    @media (min-width: $breakpoint) {
      margin-top: 40px;
      margin-left: 40px;
    }
  }
}