.doc {
  padding: 20px;
  width: 285px;
  min-height: 181px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: $color-blue-light;
  transition: background-color $transition;

  &:hover {
    background-color: $color-gray-border;
  }

  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
  }

  &__image {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  &__svg {
    width: 48px;
    height: 61px;
  }
}