.drop {
  $comp: &;

  &--open {

  }
  &--menu {
    width: 100%;

    &#{$comp}--open {
      #{$comp}__svg {
        transform: rotate(180deg);
      }
    }

    #{$comp}__button {
      padding: 10px 20px 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    #{$comp}__svg {
      margin-left: 20px;
      flex-shrink: 0;

      transition: $transition;
    }
  }

  &__button {

  }

  &__content {
    display: none;
  }
}
