.grid {
  &__section {
    &:not(:first-child) {
      @media (min-width: $breakpoint) {
        border-top: 1px solid $color-gray-border;
      }
    }
  }

  &__row {
    @media (min-width: $breakpoint) {
      display: flex;
    }
  }
  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      @media (min-width: $breakpoint) {
        width: calc(#{$grid-pad-d} + #{$grid-part-d} * 3 - #{$grid-gap-d});
        
        border-right: 1px solid $color-gray-border;
      }
    }

    &:nth-child(2) {
      @media (min-width: $breakpoint) {
        width: calc(#{$grid-part-d} * 13 + #{$grid-pad-d});
      }
    }

    .panel {
      &__item {
        @media (min-width: $breakpoint-xl) {
          padding: 0 $grid-pad-d;
        }
      }
    }
  }

  &__container {
    &--title {
      padding: 100px $grid-pad-m 0;
      @media (min-width: $breakpoint) {
        padding: 300px $grid-pad-d 40px $grid-gap-d;
      }
    }
  }
}