.grid-test {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    width: 100vw;
    overflow: hidden;
    pointer-events: none;

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__col {
        width: $grid-col-m;
        @media (min-width: $breakpoint) {
            width: $grid-col-d;
        }
        flex-shrink: 0;
        min-height: 100vh;

        background-color: rgba($color: black, $alpha: 0.025);

        &:nth-child(even) {
            @media (max-width: $breakpoint - 1px) {
                display: none;
            }
        }
    }
}