.grid {
  &__section {
    &:not(:first-child) {
      @media (min-width: $breakpoint) {
        border-top: 1px solid $color-gray-border;
      }
    }
  }

  &__row {
    position: relative;
    z-index: 0;
    
    @media (min-width: $breakpoint) {
      display: flex;
      align-items: stretch;
    }
  }
  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      position: relative;
      z-index: 2;

      @media (min-width: $breakpoint) {
        width: calc(#{$grid-pad-d} + #{$grid-part-d} * 3 - #{$grid-gap-d});
        
        border-right: 1px solid $color-gray-border;
      }
    }

    &:nth-child(2) {
      position: relative;
      z-index: 1;

      @media (min-width: $breakpoint) {
        width: calc(#{$grid-part-d} * 13 + #{$grid-pad-d});
      }
    }
  }

  &__container {
    // тип. заголовок
    &--title {
      padding: 100px $grid-pad-m 0;
      @media (min-width: $breakpoint) {
        padding: 300px $grid-gap-d 40px $grid-pad-d;
      }
    }
    // нав. панель в  aside
    &--panel {
      display: flex;
      overflow-x: auto;

      .panel {
        &__item {
          @media (min-width: $breakpoint-xl) {
            padding: 0 $grid-pad-d;
          }
        }
      }
    }
    // ссылка "назад"
    &--back {
      padding: 80px $grid-pad-m 0;
      @media (min-width: $breakpoint) {
        padding: 300px $grid-gap-d 0;
      }
      @media (min-width: $breakpoint-l) {
        padding: 300px $grid-pad-d 0;
      }
    }
    // каталог на стр. Каталог
    &--catalog {
      @media (max-width: $breakpoint - 1px) {
        margin-top: 40px;
        padding: 0 $grid-pad-m;
      }
    }
  }
}
