.header-catalog {
    $component: &;

    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding-left: calc(#{$grid-pad-d} + #{$grid-part-d} * 3 - #{$grid-gap-d});
    pointer-events: none;
    visibility: hidden;

    opacity: 0;
    transition: $transition;

    &--active {
        visibility: visible;
        
        opacity: 1;

        #{$component}__col {
            &--panel {
                &::before {
                    visibility: visible;

                    opacity: 1;
                }
            }
        }
    }

    &__inner {
        padding-top: 179px;
        width: calc(#{$grid-part-d} * 7);
        height: 100%;
        pointer-events: all;

        background-color: $color-blue-dark;
        transition: $transition;
    }

    &__row {
        height: 100%;
        display: flex;
    }

    &__col {
        height: 100%;
        flex-shrink: 0;
        overflow: auto;

        transition: $transition;

        &--panel {
            position: relative;
            z-index: 0;

            width: calc(#{$grid-part-d} * 3);

            border-right: 1px solid $color-white-transparent;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                right: -1px;

                height: 1px;
                content: '';
                visibility: hidden;

                background-color: $color-main;
                opacity: 0;
                transition: $transition;
            }
        }

        &--tabs {
            width: calc(#{$grid-part-d} * 4);
        }
    }
    
    &__tabs-item {
        display: none;

        &--active {
            display: block;
        }
    }

    &__links {
        padding: 40px 0;
    }

    &__links-item {
        padding: 0 40px;

        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    &__links-link {
        display: block;

        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: $color-white;
        transition: $transition;

        &:hover {
            color: $color-main;
        }
    }
}