.link {
    $component: &;

    display: flex;

    &__link {
        display: flex;
        align-items: center;

        text-decoration: none;
        cursor: pointer;

        &:hover {
            #{$component} {
                @include link-hover;
            }
        }
    }

    &__text {
        font-family: $base-font-family-b;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        @media (min-width: $main-breakpoint) {
            font-size: 14px;
            line-height: 18px;
        }
        color: $main-color;
        white-space: nowrap;
        text-transform: uppercase;
        transition: $main-transition;
    }

    &__img {
        margin-left: 7px;
        visibility: hidden;

        opacity: 0;
        transition: $main-transition;
    }
}