.modal {
  $width: 760px;
  $height: 531px;

  padding: 0;
  width: 100%;
  height: 100%;
  max-width: $width;
  max-height: $height;

  background-color: $color-white;

  &__inner {
    padding: $grid-pad-m;
    @media (min-width: $breakpoint) {
      padding: $grid-pad-d;
    }
    height: 100%;
  }
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__button {
    margin-top: 40px;

    justify-content: center;
  }

  &__title {
    max-width: 560px;

    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
  }

  &__form {
    margin-top: 60px;
    width: 100%;
    max-width: 440px;
  }
}

.form {
  &__item {
    position: relative;
    z-index: 0;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  &__input {
    width: 100%;
  }

  &__button {
    justify-content: flex-end;
  }

  &__error {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;

    pointer-events: none;

    font-size: 10px;
    line-height: 1.2;
    color: red;
    opacity: 0;
    transition: $transition;
  }

  .parsley-errors-list {
    display: none;
  }
}

.input {
  @mixin input() {
    font-family: $ff-a;
    font-size: 16px;
    line-height: 19px;
    color: $color-black;
    transition: $transition;
  }

  padding-bottom: 15px;

  border: none;
  border-bottom: 1px solid $color-gray-border;
  @include input();

  @include placeholder() {
    @include input();
  }

  &:hover {
    border-color: $color-main;
  }

  &.parsley-error {
    color: red;
    border-color: red;

    @include placeholder() {
      color: red;
    }

    & ~ .form__error {
      pointer-events: all;

      opacity: 1;
    }
  }

  &:focus {
    color: $color-main;
    border-color: $color-main;

    @include placeholder() {
      color: $color-main;
    }

    & ~ .form__error {
      pointer-events: none;

      opacity: 0;
    }
  }
}

.checkbox {
  $component: &;

  display: flex;

  &__label {
    position: relative;
    z-index: 0;

    display: flex;

    cursor: pointer;

    &:hover {
      .checkbox__box {
        border-color: $color-main;
      }
    }

    &.parsley-error {
      #{$component}__box {
        border-color: red;
      }
    }
  }
  &__input {
    position: absolute;

    visibility: hidden;

    opacity: 0;

    &:checked {
      & + #{$component}__box {
        border-color: $color-main;
        color: $color-main;

        #{$component}__svg {
          opacity: 1;
        }
      }
    }
  }

  &__box {
    padding: 5px;
    $size: 24px;
    width: $size;
    height: $size;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $color-black;
    transition: $transition;
  }
  &__svg {
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 0;

    opacity: 0;
    transition: $transition;
  }

  &__text {
    margin-left: 15px;
    padding-top: 4px;

    font-family: $ff-b;
    font-size: 12px;
    line-height: 17px;
  }
  &__link {
    text-decoration: underline;
    transition: $transition;

    &:hover {
      color: $color-main;
    }
  }
}

.fancybox {
  &-bg {
    background-color: rgba($color-black, 0.23); // ?
  }

  &-slide {
    padding: $grid-pad-m;
    @media (min-width: $breakpoint) {
      padding: $grid-pad-d;
    }
  }
}

.modals {
  display: none;
}
