.news-card {
    $component: &;

    width: $news-card-width-m;
    min-width: $news-card-width-m;
    @media (min-width: $breakpoint) {
        width: $news-card-width-d;
        min-width: $news-card-width-d;
    }
    display: block;

    &:hover {
        #{$component}__frame-inner {
            &::before {
                background-color: rgba($color: black, $alpha: 0.1);
            }
        }

        #{$component}__bottom {
            .link {
                @include link--hover();
            }
        }
    }
    
    &--responsive {
        width: 100%;
        min-width: auto;
    }

    @include news-card__frame();
    @include news-card__mark();
    @include news-card__date();

    &__title {
        margin-top: 20px;
        @media (min-width: $breakpoint) {
            margin-top: 30px;
        }

        font-weight: bold;
        font-size: 16px;
        line-height: 120%;
        @media (min-width: $breakpoint) {
            font-size: 25px;
        }
    }

    &__bottom {
        margin-top: 20px;

        @media (min-width: $breakpoint) {
            margin-top: 30px;
        }
    }
}
