.news-detail {
  $component: &;

  &__container {
    margin-top: 20px;
    padding-bottom: 60px;
    @media (min-width: $breakpoint) {
      margin-top: 0;
      padding-top: 300px;
      padding-bottom: 160px;
    }
  }

  &__section {
    &--margin-top {
      margin-top: 60px;
      @media (min-width: $breakpoint) {
        margin-top: 160px;
      }
    }
  }

  &__slider {
    margin-top: 40px;
    @media (min-width: $breakpoint) {
      margin-top: 80px;
      overflow: hidden;
    }
  }

  &__content-wrapper {
    @media (min-width: $breakpoint) {
      padding-left: calc(#{$grid-part-d} * 2);
    }
  }
  &__content {
    @media (min-width: $breakpoint) {
      width: calc(#{$grid-part-d} * 7);
    }
  }
  &__content-container {
    padding-left: calc(#{$grid-part-m});
    @media (min-width: $breakpoint) {
      padding-left: calc(#{$grid-part-d});
    }

    &--desktop {
      @media (max-width: $breakpoint - 1px) {
        margin-left: 0;
      }
    }
  }

  @include news-card__frame();
  @include news-card__mark();
  @include news-card__date();

  &__block {
    margin-top: 60px;
    @media (min-width: $breakpoint) {
      margin-top: 80px;
    }

    &--small {
      margin-top: 40px;
    }
    &--title {
      margin-top: 20px;
      @media (min-width: $breakpoint) {
        margin-top: 40px;
      }
    }
  }

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    @media (min-width: $breakpoint) {
      font-size: 26px;
      line-height: 36px;
    }
  }

  &__text {
    font-family: $ff-b;
    font-size: 14px;
    line-height: 20px;
    @media (min-width: $breakpoint) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__list {
    &--numbered {
      counter-reset: index;

      #{$component}__list-svg {
        display: none;
      }

      #{$component}__list-item {
        counter-increment: index;

        &::before {
          content: counter(index);
        }
      }
    }
  }
  &__list-item {
    position: relative;
    z-index: 0;

    &::before {
      position: absolute;
      top: 0;
      left: 0;

      font-family: $ff-b;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: $color-main;
    }

    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  &__list-svg {
    position: absolute;
    top: 6px;
    left: 0;

    width: 14px;
    height: 11px;
  }

  &__img {
    display: block;
  }

  &__video {
    position: relative;
    z-index: 0;
  }
  &__video-video {
    max-width: 100%;
    display: block;
  }
  &__video-play {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: $transition;

    .video-svg__path {
      transition: $transition;

      &--border {
        fill: transparent;
      }
    }

    @mixin hover() {
      .video-svg__path {
        &--border {
          fill: $color-main;
        }
        &--button {
          fill: $color-white;
        }
        &--icon {
          fill: $color-main;
        }
      }
    }

    &:hover {
      @include hover();
    }

    &--hide {
      pointer-events: none;

      visibility: hidden;
      opacity: 0;

      @include hover();
    }
  }
  &__video-svg {
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
  }
}
