.panel-text.panel-text {
  @media (max-width: 1580px - 1px) {
    font-size: 17px;
  }
  @media (max-width: 1530px - 1px) {
    font-size: 15px;
  }
  @media (max-width: 1480px - 1px) {
    font-size: 15px;
    line-height: 18px;
  }
  @media (max-width: 1400px - 1px) {
    font-size: 13px;
  }
  @media (max-width: 1330px - 1px) {
    font-size: 13px;
    line-height: 16px;
  }
}
