.row {
    @media (min-width: $breakpoint) {
        display: flex;
        align-items: stretch;
    }

    &__side {
        @media (min-width: $breakpoint) {
            width: calc(#{$grid-part-d} * 3 - #{$grid-gap-d});
            flex-shrink: 0;
        }
    }

    &__main {
        @media (min-width: $breakpoint) {
            width: calc(#{$grid-part-d} * 13);
            flex-shrink: 0;
        }
    }
}