.search-modal {
    $component: &;

    min-height: 102px;
    @media (min-width: $breakpoint) {
        min-height: 180px;
    }

    background-color: $color-blue-dark;

    &__inner {
        padding: 20px 0;
        @media (min-width: $breakpoint) {
            padding: 70px 0;
        }
    }
    &__container {
        @media (min-width: $breakpoint) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__close {
        @media (min-width: $breakpoint) {
            order: 1;
        }
        display: flex;
        justify-content: flex-end;
    }
    &__close-button {
        $size: 24px;
        max-width: $size;
        max-height: $size;
        @media (min-width: $breakpoint) {
            $size: 39px;
            max-width: $size;
            max-height: $size;
        }
        
        cursor: pointer;

        &:hover {
            rect {
                fill: $color-main;
            }
        }

        rect {
            transition: $transition;
        }
    }

    &__form {
        @media (max-width: $breakpoint - 1px) {
            margin-top: 10px;
        }
        @media (min-width: $breakpoint) {
            width: calc(#{$grid-part-d} * 14 - #{$grid-gap-d});
        }
    }
}