.section {
    $component: &;

    background-color: $color-white;

    &--blue {
        background-color: $color-blue;
    }

    &--blue-light {
        background-color: $color-blue-light;
    }

    &--partners {
        .row {
            position: relative;
            z-index: 0;

            &__side {
                position: relative;
                z-index: 2;
            }

            &__main {
                position: relative;
                z-index: 1;
            }
        }

        #{$component}__slider {
            @media (min-width: $breakpoint) {
                margin-left: -1px;
                padding-left: 0;
            }
        }
    }

    &--digits {
        #{$component}__inner {
            &--main {
                @media (min-width: $breakpoint) {
                    padding-top: 130px;
                }
            }
        }
    }

    &--up {
        margin-top: -60px;
        @media (min-width: $breakpoint) {
            margin-top: -160px;
        }

        &--top {
            @media (min-width: $breakpoint) {
                margin-top: -60px;
            }
        }
    }

    &__inner {
        @media (min-width: $breakpoint) {
            padding: 160px 0;
        }
        height: 100%;

        &--side {
            display: flex;
            justify-content: space-between;

            @media (max-width: $breakpoint - 1px) {
                margin-bottom: 40px;
                padding-top: 60px;
            }

            @media (min-width: $breakpoint) {
                flex-direction: column;

                border-right: 1px solid $color-gray-border;
            }
        }

        &--main {
            @media (max-width: $breakpoint - 1px) {
                padding-bottom: 60px;
            }
        }
    }

    &__slider {
        @media (min-width: $breakpoint) {
            padding-left: #{$grid-gap-d};
            padding-right: #{$grid-pad-d};
            width: calc(#{$grid-part-d} * 13 + #{$grid-pad-d});
            overflow: hidden;
        }

        &--without-gap {
            @media (min-width: $breakpoint) {
                margin-left: -1px;
                padding-left: 0;
            }
        }
    }

    &__title {
        font-family: $ff-b;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
    }

    &__buttons {
        margin-top: 60px;
        @media (max-width: $breakpoint - 1px) {
            display: none;
        }
    }
}
