.section {
    background-color: $color-white;

    &__inner {
        @media (min-width: $breakpoint) {
            padding: 160px 0;
        }
        height: 100%;

        &--side {
            @media (max-width: $breakpoint - 1px) {
                margin-bottom: 40px;
                padding-top: 60px;
            }

            @media (min-width: $breakpoint) {
                border-right: 1px solid black;
            }
        }

        &--main {
            @media (max-width: $breakpoint - 1px) {
                padding-bottom: 60px;
            }
        }
    }

    &__slider {
        @media (min-width: $breakpoint) {
            padding-left: #{$grid-gap-d};
            width: calc(#{$grid-part-d} * 13 + #{$grid-pad-d});
            overflow: hidden;
        }
    }

    &--blue {
        background-color: $color-blue;
    }
}