.sections {
  $comp: &;

  $gap: 20px;
  $color-gray: #F6F9F9;

  @media (max-width: $breakpoint - 1px) {
    margin-top: 40px;
  }

  &__block {
    padding: 40px 60px 40px 40px;

    transition: $transition;

    @media (max-width: $breakpoint - 1px) {
      padding: 0 20px;
    }

    &:not(:first-child) {
      @media (max-width: $breakpoint - 1px) {
        margin-top: 40px;
      }
    }

    &--active {
      @media (min-width: $breakpoint) {
        background-color: $color-gray;

        #{$comp}__title {
          color: $color-main;
        }
      }
    }
  }

  &__title {
    margin-bottom: 20px;

    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    transition: $transition;

    @media (min-width: $breakpoint) {
      margin-bottom: 20px;
      
      font-size: 26px;
      line-height: 36px;
    }
  }

  &__list {
    margin-top: -$gap;
    margin-left:  -$gap;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    $cols: 2;

    margin-top: $gap;
    margin-left:  $gap;
    width: calc((100% - (#{$gap * $cols})) / #{$cols});

    @media (min-width: $breakpoint-hd) {
      $cols: 3;

      width: calc((100% - (#{$gap * $cols})) / #{$cols});
    }

    @media (min-width: $breakpoint-xl) {
      $cols: 4;

      width: calc((100% - (#{$gap * $cols})) / #{$cols});
    }

    @media (max-width: $breakpoint-s - 1px) {
      $cols: 2;

      width: calc((100% - (#{$gap * $cols})) / #{$cols});
    }

    @media (max-width: $breakpoint-xs - 1px) {
      $cols: 1;

      width: calc((100% - (#{$gap * $cols})) / #{$cols});
    }
  }
}
