.slider {
    &--news-card {
        .swiper-slide {
            width: $news-card-width-m;
            @media (min-width: $breakpoint) {
                width: $news-card-width-d;
            }
        }
    }

    &--object-card {
        .swiper-slide {
            width: $object-card-width-m;
            @media (min-width: $breakpoint) {
                width: $object-card-width-d;
            }
        }
    }
}