$slider-button-size: 85px;
$slider-button-button-size: 60px;

$slider-button-size--small: 50px;
$slider-button-button-size--small: 35px;

.slider-button {
    $component: &;

    position: relative;
    z-index: 0;

    width: $slider-button-size;
    min-width: $slider-button-size;
    height: $slider-button-size;
    display: flex;
    justify-content: center;
    align-items: center;

    &--left {
        #{$component}__svg {
            transform: rotate(180deg);
        }
    }

    &--small {
        width: $slider-button-size--small;
        min-width: $slider-button-size--small;
        height: $slider-button-size--small;

        #{$component}__button {
            width: $slider-button-button-size--small;
            min-width: $slider-button-button-size--small;
            height: $slider-button-button-size--small;
        }

        #{$component}__svg {
            width: 15px;
            height: 17px;
        }
    }

    &__button {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);

        width: $slider-button-button-size;
        min-width: $slider-button-button-size;
        height: $slider-button-button-size;

        background-color: $color-white;
        border: 1px solid $color-gray-border;
        cursor: pointer;
        transition: $transition;

        &:hover {
            @include slider-button__button--hover();
        }
    }

    &__svg {
        pointer-events: none;

        path {
            transition: $transition;
        }
    }
}

.slider-buttons {
    display: flex;
}

