.slider {
    overflow: hidden;

    &--news-card {
        .swiper-slide {
            width: $news-card-width-mobile;
            @media (min-width: $breakpoint) {
                width: $news-card-width-desktop;
            }
        }
    }
}