.tabs {
  $component: &;
  $gap-vertical: 40px;

  padding: 40px 0;
  @media (max-width: $breakpoint - 1px) {
    display: none;
  }

  border-bottom: 1px solid $color-gray-border;

  &__row {
    margin-top: -$gap-vertical;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  &__item {
    margin-top: $gap-vertical;
    padding-left: $grid-gap-d;
    width: 340px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;

    &--active {
      #{$component}__link {
        color: $color-main;
      }
    }
  }

  &__link {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    transition: $transition;

    &:hover {
      color: $color-main;
    }
  }
}
