.testtt {
  overflow: hidden;
}

.testt {
  background-color: white;

  &--scale {
    transform-origin: left top;
    transform: scale(7);
  }
}

.test {
  white-space: nowrap;

  &:nth-child(odd) {
    background-color: lightgray;
  }

  &--alt {
    font-family: $ff-b;
  }
}
