extends ../layouts/master.pug

include ../components/_link.pug
include ../components/_grid-test.pug
include ../partials/_header.pug



block header
  +header({
    mod: 'white',
  })



block content
  +grid-test
  
  .grid
    .grid__section
      .grid__row
        .grid__col
        .grid__col
          .grid__container.grid__container--title
            h1.title
              |Каталог
    .grid__section
      .grid__row
        .grid__col
          ul.panel
            li.panel__item.panel__item--active
              +mark-svg('panel__svg')
              span.panel__text
                |Отопление
            li.panel__item
              +mark-svg('panel__svg')
              span.panel__text
                |Водоснабжение
            li.panel__item
              +mark-svg('panel__svg')
              span.panel__text
                |Приборы учета тепла и воды
            li.panel__item
              +mark-svg('panel__svg')
              span.panel__text
                |Трубопроводная арматура
            li.panel__item
              +mark-svg('panel__svg')
              span.panel__text
                |Теплоизоляционные материалы
            li.panel__item
              +mark-svg('panel__svg')
              span.panel__text
                |Полотенцесущители
            li.panel__item
              +mark-svg('panel__svg')
              span.panel__text
                |Канализация
            li.panel__item
              +mark-svg('panel__svg')
              span.panel__text
                |Продукция марки Valtec
            li.panel__item
              +mark-svg('panel__svg')
              span.panel__text
                |Крепежные изделия
        .grid__col
          |test

block footer
  include ../partials/_footer.pug