extends ../layouts/master.pug

include ../components/_link.pug
include ../components/_grid-test.pug
include ../partials/_header.pug



block header
  +header({
    mod: 'white',
  })



block content
  +grid-test
  
  .grid
    .grid__section
      .grid__row
        .grid__col
        .grid__col
          .grid__container.grid__container--title
            h1.title
              |Каталог
    .grid__section
      .grid__row
        .grid__col
          .grid__container.grid__container--panel
            ul.panel
              li.panel__item.panel__item--active
                +mark-svg('panel__svg')
                a.panel__link(href='#')
                  |Отопление
              li.panel__item
                +mark-svg('panel__svg')
                a.panel__link(href='#')
                  |Водоснабжение
              li.panel__item
                +mark-svg('panel__svg')
                a.panel__link(href='#')
                  |Приборы учета тепла и воды
              li.panel__item
                +mark-svg('panel__svg')
                a.panel__link(href='#')
                  |Трубопроводная арматура
              li.panel__item
                +mark-svg('panel__svg')
                a.panel__link(href='#')
                  |Теплоизоляционные материалы
              li.panel__item
                +mark-svg('panel__svg')
                a.panel__link(href='#')
                  |Полотенцесущители
              li.panel__item
                +mark-svg('panel__svg')
                a.panel__link(href='#')
                  |Канализация
              li.panel__item
                +mark-svg('panel__svg')
                a.panel__link(href='#')
                  |Продукция марки Valtec
              li.panel__item
                +mark-svg('panel__svg')
                a.panel__link(href='#')
                  |Крепежные изделия
        .grid__col
          .tabs
            .tabs__row
              .tabs__item.tabs__item--active
                a.tabs__link(href='#')
                  |Sanline.  Трубы Pex и фитинги для систем внутридомовой разводки отопления
              .tabs__item
                a.tabs__link(href='#')
                  |Sanline. Коллекторные узлы. Балансировочная арматура
              .tabs__item
                a.tabs__link(href='#')
                  |Термостатическая арматура и комплектующие
              .tabs__item
                a.tabs__link(href='#')
                  |Отопительные приборы



block footer
  include ../partials/_footer.pug