extends ../layouts/master.pug

block content
  .pages
    -
      var pages = [
        {
          href: '/main',
          title: 'Главная',
        },
        {
          href: '/catalog',
          title: 'Каталог',
        },
        {
          href: '/product',
          title: 'Карточка товара',
        },
        {
          href: '/about',
          title: 'О компании',
        },
        {
          href: '/docs',
          title: 'Документация',
        },
        {
          href: '/contacts',
          title: 'Контакты',
        },
        {
          href: '/news',
          title: 'Новости',
        },
        {
          href: '/news-detail',
          title: 'Новости (детальная)',
        },
        {
          href: '/objects',
          title: 'Объекты',
        },
        {
          href: '/results',
          title: 'Результаты поиска',
        },
        {
          href: '/404',
          title: '404',
        },
      ];
    .container
      .pages__container
        .pages__list
          each page in pages
            .pages__list-item
              .button
                a.button__btn(href=page.href)
                  |#{page.title}
