extends ../layouts/master.pug

block content
  .pages
    -
      var pages = [
        {
          href: 'main.html',
          title: 'Главная',
        },
        {
          href: 'catalog.html',
          title: 'Каталог',
        },
        {
          href: 'product.html',
          title: 'Карточка товара',
        },
        {
          href: 'about.html',
          title: 'О компании',
        },
        {
          href: 'docs.html',
          title: 'Документация',
        },
        {
          href: 'contacts.html',
          title: 'Контакты',
        },
        {
          href: 'news.html',
          title: 'Новости',
        },
        {
          href: 'news-detail.html',
          title: 'Новости (детальная)',
        },
        {
          href: 'objects.html',
          title: 'Объекты',
        },
        {
          href: 'results.html',
          title: 'Результаты поиска',
        },
        {
          href: '404.html',
          title: '404',
        },
      ];
    .container
      .pages__container
        .pages__list
          each page in pages
            .pages__list-item
              .button
                a.button__btn(href=page.href)
                  |#{page.title}
