extends ../layouts/master.pug

include ../components/_news-card.pug
include ../components/_link.pug
include ../components/_grid-test.pug



block header
  include ../partials/_header.pug



block content
  +grid-test
  +link
    |test
  .section.section--blue
    .container
      .row
        .row__side
          .section__inner.section__inner--side
            +link
              |test
        .row__main
          .section__inner.section__inner--main
            .section__slider
              .slider.slider--news-card
                .slider__swiper
                  .swiper-wrapper
                    - for (let i= 0; i<5; i++)
                      .swiper-slide
                        +news-card
                      .swiper-slide
                        +news-card({
                          image:'news-card-1.jpeg',
                          mark:'НОВИНКА',
                          title:'Новинка! Шаровые краны Altstream PN 25!',
                        })
            .slider.slider--news-card
              .slider__swiper
                .swiper-wrapper
                  - for (let i= 0; i<5; i++)
                    .swiper-slide
                      +news-card
                    .swiper-slide
                      +news-card({
                        image:'news-card-1.jpeg',
                        mark:'НОВИНКА',
                        title:'Новинка! Шаровые краны Altstream PN 25!',
                      })
  .section
    .container
      .row
        .row__side
          .section__inner.section__inner--side
            +link
              |test
        .row__main
          .section__inner.section__inner--main
            .section__slider
              .slider.slider--news-card
                .slider__swiper
                  .swiper-wrapper
                    - for (let i= 0; i<5; i++)
                      .swiper-slide
                        +news-card
                      .swiper-slide
                        +news-card({
                          image:'news-card-1.jpeg',
                          mark:'НОВИНКА',
                          title:'Новинка! Шаровые краны Altstream PN 25!',
                        })
            .slider.slider--news-card
              .slider__swiper
                .swiper-wrapper
                  - for (let i= 0; i<5; i++)
                    .swiper-slide
                      +news-card
                    .swiper-slide
                      +news-card({
                        image:'news-card-1.jpeg',
                        mark:'НОВИНКА',
                        title:'Новинка! Шаровые краны Altstream PN 25!',
                      })



block footer
  //- include ../partials/_footer.pug