extends ../layouts/master.pug

include ../components/_news-card.pug
include ../components/_link.pug
include ../components/_grid-test.pug
include ../components/_nav-card.pug



block header
  include ../partials/_header.pug



block content
  +grid-test
  .section.section--blue
    .container
      .row
        .row__side
          .section__inner.section__inner--side
            +link
              |test
        .row__main
          .section__inner.section__inner--main
            .nav(style='display:flex')
              +nav-card
              +nav-card({
                title: {
                  text:'Водоснабжение'
                },
                links: [
                  'Полипропиленовые трубы TEBO Technics',
                  'Полипропиленовые фитинги TEBO Technics',
                  'Оборудование для монтажа ПП Труб',
                ],
              })
              +nav-card({
                title: {
                  text:'Приборы учета тепла и воды'
                },
                links: [
                  'Полипропиленовые трубы TEBO Technics',
                  'Полипропиленовые фитинги TEBO Technics',
                  'Оборудование для монтажа ПП Труб',
                ],
              })



block footer
  //- include ../partials/_footer.pug