extends ../layouts/master.pug

include ../components/_news-card.pug
include ../components/_link.pug

block header
  include ../partials/_header.pug

block content
  main
    +link
      |test
    .slider.slider--news-card
      .slider__swiper
        .swiper-wrapper
          - for (let i= 0; i<10; i++)
            .swiper-slide
              +news-card

block footer
  include ../partials/_footer.pug
