extends ../layouts/master.pug

include ../partials/_header.pug
include ../partials/_footer.pug

include ../components/_news-card.pug
include ../components/_object-card.pug
include ../components/_partner-card.pug
include ../components/_link.pug
include ../components/_grid-test.pug
include ../components/_nav-card.pug
include ../components/_top.pug



block header
  +header



block content
  //- +grid-test
  
  +top
  .section(data-scroll)
    .container
      .row
        .row__side
          .section__inner.section__inner--side
            .section__top
              h2.section__title
                |Новости
              .section__buttons
                .slider-buttons
                  .slider-button.slider-button--left
                    .slider-button__button(data-slider-id='1')
                    svg.slider-button__svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(fill-rule="evenodd" clip-rule="evenodd" d="M15.5858 9.99999L-3.36888e-07 9.99999L-4.24311e-07 7.99999L15.5858 7.99999L9.29289 1.70709L10.7071 0.292879L19.4142 8.99998L10.7071 17.7071L9.29289 16.2929L15.5858 9.99999Z" fill="#2B3637")
                  .slider-button.slider-button--right
                    .slider-button__button(data-slider-id='2')
                    svg.slider-button__svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(fill-rule="evenodd" clip-rule="evenodd" d="M15.5858 9.99999L-3.36888e-07 9.99999L-4.24311e-07 7.99999L15.5858 7.99999L9.29289 1.70709L10.7071 0.292879L19.4142 8.99998L10.7071 17.7071L9.29289 16.2929L15.5858 9.99999Z" fill="#2B3637")
            +link
              |все новости
        .row__main
          .section__inner.section__inner--main
            .section__slider
              .slider.slider--news-card.slider--news-card--responsive(data-slider-prev-id='1' data-slider-next-id='2')
                .slider__swiper
                  .swiper-wrapper
                    - for (let i= 0; i<5; i++)
                      .swiper-slide
                        +news-card({
                          responsive: true,
                        })
                      .swiper-slide
                        +news-card({
                          image:'news-card-1.jpeg',
                          mark:'НОВИНКА',
                          title:'Новинка! Шаровые краны Altstream PN 25!',
                          responsive: true,
                        })
  .section
    .container
      .row
        .row__side
          .section__inner.section__inner--side
            .section__top
              h2.section__title
                |каталог
              .section__buttons
                .slider-buttons
                  .slider-button.slider-button--left
                    .slider-button__button(data-slider-id='8')
                    svg.slider-button__svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(fill-rule="evenodd" clip-rule="evenodd" d="M15.5858 9.99999L-3.36888e-07 9.99999L-4.24311e-07 7.99999L15.5858 7.99999L9.29289 1.70709L10.7071 0.292879L19.4142 8.99998L10.7071 17.7071L9.29289 16.2929L15.5858 9.99999Z" fill="#2B3637")
                  .slider-button.slider-button--right
                    .slider-button__button(data-slider-id='9')
                    svg.slider-button__svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(fill-rule="evenodd" clip-rule="evenodd" d="M15.5858 9.99999L-3.36888e-07 9.99999L-4.24311e-07 7.99999L15.5858 7.99999L9.29289 1.70709L10.7071 0.292879L19.4142 8.99998L10.7071 17.7071L9.29289 16.2929L15.5858 9.99999Z" fill="#2B3637")
            +link
              |скачать прайс
        .row__main
          .section__inner.section__inner--main
            .section__slider
              .slider.slider--nav-card(data-slider-prev-id='8' data-slider-next-id='9')
                .slider__swiper
                  .swiper-wrapper
                    - for (let i= 0; i<9; i++)
                      .swiper-slide(class = (i === 7 ? 'swiper-slide--large' : ''))
                        +nav-card(i)
  .section.section--digits.section--blue-light
    .container
      .row
        .row__side
          .section__inner.section__inner--side
            h2.section__title
              |о нас в цифрах
            +link
              |больше о нас
        .row__main
          .section__inner.section__inner--main
            ul.digits
              .digits__row
                .digits__col
                  li.digits__item
                    h3.digits__title.digits__title--large
                      |2014
                    p.digits__text
                      |год начала работы 
                      br
                      |на рынке инженерного обеспечения
                  li.digits__item
                    h3.digits__title.digits__title--large
                      |10+
                    p.digits__text
                      |лет опыта специалистов в строительном рынке
                  li.digits__item.digits__item--indent
                    h3.digits__title
                      |250+
                    p.digits__text
                      |компаний-партнеров
                .digits__col
                  li.digits__item
                    h3.digits__title.digits__title--large
                      |100+
                    p.digits__text
                      |объектов с нашими решениями
                  li.digits__item.digits__item--indent
                    h3.digits__title
                      |10000+
                    p.digits__text
                      |отобранных товарных позиций
                  li.digits__item
                    h3.digits__title
                      |3000+
                    p.digits__text
                      |выполненных доставок
  .section.section--blue
    .container
      .row
        .row__side
          .section__inner.section__inner--side
            h2.section__title
              |преимущества
        .row__main
          .section__inner.section__inner--main
            .advantage-cards
              ul.advantage-cards__list
                li.advantage-card
                  .advantage-card__container
                    .advantage-card__col
                      h3.advantage-card__title
                        |Качество
                      ul.advantage-card__list
                        li.advantage-card__list-item
                          p.advantage-card__text
                            |Известные марки и бренды
                        li.advantage-card__list-item
                          p.advantage-card__text
                            |Большой опыт применения предлагаемого оборудования
                li.advantage-card
                  .advantage-card__container
                    .advantage-card__col
                      h3.advantage-card__title
                        |Выгода
                      ul.advantage-card__list
                        li.advantage-card__list-item
                          p.advantage-card__text
                            |Гибкая политика предоставления условий сотрудничества
                        li.advantage-card__list-item
                          p.advantage-card__text
                            |Наши специалисты всегда подберут комплексную систему, ориентируясь на Ваш бюджет
                li.advantage-card
                  .advantage-card__background(style='background-image: url("assets/images/advantage-card.jpg")')
                li.advantage-card
                  .advantage-card__background(style='background-image: url("assets/images/advantage-card-1.jpg")')
                li.advantage-card
                  .advantage-card__container
                    .advantage-card__col
                      h3.advantage-card__title
                        |Надежность
                      ul.advantage-card__list
                        li.advantage-card__list-item
                          p.advantage-card__text
                            |Расширенные гарантийные обязательства
                        li.advantage-card__list-item
                          p.advantage-card__text
                            |Необходимая разрешительная документация, сертификаты
                li.advantage-card
                  .advantage-card__container
                    .advantage-card__col
                      h3.advantage-card__title
                        |Ассортимент
                      p.advantage-card__text
                        |Все необходимое сантехническое оборудование в любом сегменте строительства от эконом-класса до элитного
                li.advantage-card
                  .advantage-card__container
                    .advantage-card__col
                      h3.advantage-card__title
                        |Сервис
                      p.advantage-card__text
                        |С нами Вы экономите Ваше время: быстрая реакция на входящие запросы, выставление коммерческих предложений в течении двух часов с момента обращения, доставка заказа собственными силами в короткие сроки
                li.advantage-card
                  .advantage-card__container
                    .advantage-card__col
                      h3.advantage-card__title
                        |Ответсвенность
                      ul.advantage-card__list
                        li.advantage-card__list-item
                          p.advantage-card__text
                            |Постпродажное обслуживание
                        li.advantage-card__list-item
                          p.advantage-card__text
                            |Высокая степень ответственности
                        li.advantage-card__list-item
                          p.advantage-card__text
                            |Помощь в согласовании с контролирующими органами
                        li.advantage-card__list-item
                          p.advantage-card__text
                            |На связи 24 часа в сутки, 7 дней в неделю
                li.advantage-card
                  .advantage-card__background(style='background-image: url("assets/images/advantage-card-2.jpg")')
  .section
    .container
      .row
        .row__side
          .section__inner.section__inner--side
            .section__top
              h2.section__title
                |объекты
              .section__buttons
                .slider-buttons
                  .slider-button.slider-button--left
                    .slider-button__button(data-slider-id='3')
                    svg.slider-button__svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(fill-rule="evenodd" clip-rule="evenodd" d="M15.5858 9.99999L-3.36888e-07 9.99999L-4.24311e-07 7.99999L15.5858 7.99999L9.29289 1.70709L10.7071 0.292879L19.4142 8.99998L10.7071 17.7071L9.29289 16.2929L15.5858 9.99999Z" fill="#2B3637")
                  .slider-button.slider-button--right
                    .slider-button__button(data-slider-id='4')
                    svg.slider-button__svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(fill-rule="evenodd" clip-rule="evenodd" d="M15.5858 9.99999L-3.36888e-07 9.99999L-4.24311e-07 7.99999L15.5858 7.99999L9.29289 1.70709L10.7071 0.292879L19.4142 8.99998L10.7071 17.7071L9.29289 16.2929L15.5858 9.99999Z" fill="#2B3637")
            +link
              |все объекты
        .row__main
          .section__inner.section__inner--main
            .section__slider
              .slider.slider--object-card(data-slider-prev-id='3' data-slider-next-id='4')
                .slider__swiper
                  .swiper-wrapper
                    - for (let i= 0; i<5; i++)
                      .swiper-slide
                        +object-card
                      .swiper-slide
                        +object-card({
                          image:'object-card-1.jpg',
                          imageMark:'object-card-mark-1.jpg',
                        })
  
  .section.section--partners
    .container
      .row
        .row__side
          .section__inner.section__inner--side
            .section__top
              h2.section__title
                |партнеры
              .section__buttons
                .slider-buttons
                  .slider-button.slider-button--left
                    .slider-button__button(data-slider-id='5')
                    svg.slider-button__svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(fill-rule="evenodd" clip-rule="evenodd" d="M15.5858 9.99999L-3.36888e-07 9.99999L-4.24311e-07 7.99999L15.5858 7.99999L9.29289 1.70709L10.7071 0.292879L19.4142 8.99998L10.7071 17.7071L9.29289 16.2929L15.5858 9.99999Z" fill="#2B3637")
                  .slider-button.slider-button--right
                    .slider-button__button(data-slider-id='6')
                    svg.slider-button__svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(fill-rule="evenodd" clip-rule="evenodd" d="M15.5858 9.99999L-3.36888e-07 9.99999L-4.24311e-07 7.99999L15.5858 7.99999L9.29289 1.70709L10.7071 0.292879L19.4142 8.99998L10.7071 17.7071L9.29289 16.2929L15.5858 9.99999Z" fill="#2B3637")
        .row__main
          .section__inner.section__inner--main
            .section__slider
              .slider.slider--partner-card(data-slider-id='7' data-slider-prev-id='5' data-slider-next-id='6')
                .slider__swiper
                  .swiper-wrapper
                    - for (let i= 0; i<5; i++)
                      .swiper-slide
                        +partner-card
                      .swiper-slide
                        +partner-card({
                          image:'partner-card-1.png',
                        })



block footer
  +footer
