extends ../layouts/master.pug

include ../partials/_header.pug
include ../partials/_footer.pug

include ../components/_grid-test.pug
include ../components/_news-card.pug



block header
  +header({
    mod: 'white',
  })



block content
  //- +grid-test

  .grid
    .grid__row
      .grid__col
        .grid__container.grid__container--back
          .link-back
            a.link-back__link(href='#')
              .slider-button.slider-button--left.slider-button--small
                .slider-button__button(data-slider-id='8')
                svg.slider-button__svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M15.5858 9.99999L-3.36888e-07 9.99999L-4.24311e-07 7.99999L15.5858 7.99999L9.29289 1.70709L10.7071 0.292879L19.4142 8.99998L10.7071 17.7071L9.29289 16.2929L15.5858 9.99999Z" fill="#2B3637")
              .link-back__text
                |каталог
      .grid__col
        .news-detail
          .news-detail__container
            .news-detail__section
              .container.container--padding-left
                .news-detail__content-wrapper
                  .news-detail__content
                    .news-detail__frame
                      .news-detail__frame-inner
                        img.news-detail__frame-img(src='assets/images/news-card.jpeg')
                        .news-detail__mark
                          |АКЦИЯ
                        .news-detail__date
                          |28.04.2021
                    .news-detail__block.news-detail__block--title
                      h1.news-detail__title
                        |Антикризисная акция  по шаровым кранам PN16 Altstream
                    .news-detail__block.news-detail__block--small
                      .news-detail__content-container.news-detail__content-container--desktop
                        p.news-detail__text
                          |Уважаемые партнёры!
                          br
                          br
                          |Информируем Вас о поступлении в продажу шаровых кранов Altstream PN25.
                          br
                          br
                          |За более подробной информацией обращайтесь в отдел продаж по телефону: +7 (812) 241-10-15
                          br
                          br
                          |С уважением, компания ИнжСтэп
                    .news-detail__block
                      img.news-detail__img(src='assets/images/news-detail.jpeg' alt='')
                    .news-detail__block
                      ul.news-detail__list
                        li.news-detail__list-item
                          +mark-svg('news-detail__list-svg')
                          .news-detail__content-container
                            p.news-detail__text
                              | ликвидация фальсификата и контрафакта как явления в трубопроводных системах;
                        li.news-detail__list-item
                          +mark-svg('news-detail__list-svg')
                          .news-detail__content-container
                            p.news-detail__text
                              |разработка и актуализация нормативных правовых и нормативно технических документов и стандартов;
                        li.news-detail__list-item
                          +mark-svg('news-detail__list-svg')
                          .news-detail__content-container
                            p.news-detail__text
                              |ликвидация фальсификата и контрафакта как явления в трубопроводных системах;
                        li.news-detail__list-item
                          +mark-svg('news-detail__list-svg')
                          .news-detail__content-container
                            p.news-detail__text
                              |разработка и актуализация нормативных правовых и нормативно технических документов и стандартов.
                    .news-detail__block
                      p.news-detail__text
                        |Ассоциация производителей трубопроводных систем способствует оздоровлению рынка и повышению надежности трубопроводной инфраструктуры Российской Федерации и стран ЕАЭС.
                    .news-detail__block
                      .news-detail__video
                        |video
                    .news-detail__block
                      ol.news-detail__list.news-detail__list--numbered
                        li.news-detail__list-item
                          .news-detail__content-container
                            p.news-detail__text
                              |ликвидация фальсификата и контрафакта как явления в трубопроводных системах;
                        li.news-detail__list-item
                          .news-detail__content-container
                            p.news-detail__text
                              |разработка и актуализация нормативных правовых и нормативно технических документов и стандартов.
            .news-detail__section.news-detail__section--margin-top
              .container.container--padding-left
                .product
                  .product__relevate-top
                    h2.product__relevate-title
                      |Другие новости
                    .product__slider-buttons
                      .slider-buttons
                        .slider-button.slider-button--left
                          .slider-button__button(data-slider-id='15')
                          svg.slider-button__svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M15.5858 9.99999L-3.36888e-07 9.99999L-4.24311e-07 7.99999L15.5858 7.99999L9.29289 1.70709L10.7071 0.292879L19.4142 8.99998L10.7071 17.7071L9.29289 16.2929L15.5858 9.99999Z" fill="#2B3637")
                        .slider-button.slider-button--right
                          .slider-button__button(data-slider-id='16')
                          svg.slider-button__svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M15.5858 9.99999L-3.36888e-07 9.99999L-4.24311e-07 7.99999L15.5858 7.99999L9.29289 1.70709L10.7071 0.292879L19.4142 8.99998L10.7071 17.7071L9.29289 16.2929L15.5858 9.99999Z" fill="#2B3637")
              .news-detail__slider
                .container.container--padding-left
                  .slider.slider--news-card.slider--news-card--alt(data-slider-prev-id='15' data-slider-next-id='16')
                    .slider__swiper
                      .swiper-wrapper
                        - for (let i=0; i<10; i++)
                          .swiper-slide
                            +news-card({
                              responsive: true,
                            })



block footer
  +footer