extends ../layouts/master.pug

include ../partials/_header.pug
include ../partials/_footer.pug

include ../components/_grid-test.pug
include ../components/_catalog-card.pug



block header
  +header({
    mod: 'white',
  })



block content
  //- +grid-test

  .modal.modal--request
    .modal__title
      |Оставить заявку
    form.modal__form.form
      .form__item
        input.form__input.input(name='name' placeholder='Имя')
      .form__item
        input.form__input.input(name='phone' placeholder='Телефон')
      .form__item
        input.form__input.input(name='email' placeholder='Email')
      .form__item
        .checkbox
          label.checkbox__label
            input.checkbox__input(type='checkbox')
            .checkbox__box
              +checkbox-svg('checkbox__svg')
            .checkbox__text
              |Даю согласание на обработку 
              a.checkbox__link(href='#')
                |персональных данных
      .form__item
        .form__button.button
          button.button__btn(href='#')
            |Отправить
  .modal.modal--response
    .modal__container
      .modal__title
        |Ваша заявка принята. Мы ответим вам в ближайшее время.
      .modal__button.button
        a.button__btn(href='#')
          |Отправить еще

  .product
    .product__container
      .grid
        .grid__row
          .grid__col
            .grid__container.grid__container--back
              .link-back
                a.link-back__link(href='#')
                  .slider-button.slider-button--left.slider-button--small
                    .slider-button__button(data-slider-id='8')
                    svg.slider-button__svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(fill-rule="evenodd" clip-rule="evenodd" d="M15.5858 9.99999L-3.36888e-07 9.99999L-4.24311e-07 7.99999L15.5858 7.99999L9.29289 1.70709L10.7071 0.292879L19.4142 8.99998L10.7071 17.7071L9.29289 16.2929L15.5858 9.99999Z" fill="#2B3637")
                  .link-back__text
                    |каталог
          .grid__col
            .product__section.product__section--info
              .container
                .product__row
                  .product__col
                    .product__slider
                      -
                        var slidesCount = 10;
                      .product__slider-swiper
                        .swiper-wrapper
                          - for (let i=0; i<slidesCount; i++)
                            .swiper-slide.product__slider-slide
                              img.product__slider-img(src='assets/images/product-1.png' alt='')
                      .product__thumbs
                        .product__thumbs-swiper
                          .swiper-wrapper
                            - for (let i=0; i<slidesCount; i++)
                              .swiper-slide.product__thumbs-slide(class=(i === 0 ? 'product__thumbs-slide--active' : ''))
                                img.product__thumbs-img(src='assets/images/product-1.png' alt='')
                    .product__desc
                      |Обеспечивают надежное и герметичное соединение труб и фитингов в единую систему при помощи обычного гаечного ключа.
                  .product__col
                    h1.product__title
                      |Переходник компрессионный для PEX Sanline 16х2,0(2,2)-G3/4 евроконус
                    .product__info
                      .product__info-price
                        |237 ₽
                      .product__info-vendor
                        |Артикул: 37101
                    .product__button.button
                      a.button__btn(href='#')
                        |Отправить заявку
                    .product__list
                      - for (let i=0; i<6; i++)
                        .product__list-item
                          .product__list-row
                            .product__list-col
                              a.product__list-link(href='#')
                                |Переходник компрессионный для PEX Sanline 16х2,0(2,2)-G3/4 евроконус
                            .product__list-col
                              .product__list-vendor
                                |Артикул: 37101
                            .product__list-col
                              .product__list-price
                                |237 ₽
                    .product__docs
                      h2.product__docs-title
                        |Техническая документация
                      ul.product__docs-list
                        each doc in [1, 2]
                          li.product__docs-item
                            a.doc(href='#')
                              .doc__title
                                |Altstream PN 25! документация для использования
                              .doc__image
                                +doc-svg('doc__svg')
            .product__section.product__section--bottom
              .product__relevate
                .container
                  .product__relevate-top
                    h2.product__relevate-title
                      |Похожие товары
                    .product__slider-buttons
                      .slider-buttons
                        .slider-button.slider-button--left
                          .slider-button__button(data-slider-id='11')
                          svg.slider-button__svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M15.5858 9.99999L-3.36888e-07 9.99999L-4.24311e-07 7.99999L15.5858 7.99999L9.29289 1.70709L10.7071 0.292879L19.4142 8.99998L10.7071 17.7071L9.29289 16.2929L15.5858 9.99999Z" fill="#2B3637")
                        .slider-button.slider-button--right
                          .slider-button__button(data-slider-id='12')
                          svg.slider-button__svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M15.5858 9.99999L-3.36888e-07 9.99999L-4.24311e-07 7.99999L15.5858 7.99999L9.29289 1.70709L10.7071 0.292879L19.4142 8.99998L10.7071 17.7071L9.29289 16.2929L15.5858 9.99999Z" fill="#2B3637")
                .product__relevate-slider
                  .slider.slider--catalog-card(data-slider-id='13' data-slider-prev-id='11' data-slider-next-id='12')
                    .slider__swiper
                      .swiper-wrapper
                        - for (let i=0; i<10; i++)
                          .swiper-slide
                            +catalog-card



block footer
  +footer