extends ../layouts/master.pug

include ../partials/_header.pug
include ../partials/_footer.pug

include ../components/_grid-test.pug



block header
  +header({
    mod: 'white',
  })



block content
  +grid-test

  .grid
    .grid__section
      .grid__row
        .grid__col
          .grid__container.grid__container--back
            .link-back
              a.link-back__link(href='#')
                .slider-button.slider-button--left.slider-button--small
                  .slider-button__button(data-slider-id='8')
                  svg.slider-button__svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M15.5858 9.99999L-3.36888e-07 9.99999L-4.24311e-07 7.99999L15.5858 7.99999L9.29289 1.70709L10.7071 0.292879L19.4142 8.99998L10.7071 17.7071L9.29289 16.2929L15.5858 9.99999Z" fill="#2B3637")
                .link-back__text
                  |каталог
        .grid__col



block footer
  +footer