extends ../layouts/master.pug

include ../partials/_header.pug
include ../partials/_footer.pug

include ../components/_grid-test.pug
include ../components/_catalog-card.pug



block header
  +header({
    mod: 'white',
  })



block content
  //- +grid-test

  .grid
    .grid__section
      .grid__row
        .grid__col
        .grid__col
          .grid__container.grid__container--title
            h1.title
              |Результаты поиска
    .grid__section
      .grid__row
        .grid__col
        .grid__col
          .results
            .container.container--padding-left
              form.search-form
                input.search-form__input(name='request' placeholder='сантехника')
                button.search-form__button(type="submit")
                  |поиск
              .results__info
                |Найдено результатов: 16
            .results__list
              .catalog
                - for (let i=0; i<10; i++)
                  .catalog__item
                    +catalog-card({
                      responsive: true,
                    })



block footer
  +footer
