.drop
  .drop__button
    |button
  .drop__content
    |content
    .drop
      .drop__button
        |button
      .drop__content
        |content
        .drop
          .drop__button
            |button
          .drop__content
            |content
    |content
    .drop
      .drop__button
        |button
      .drop__content
        |content
