<nav class="boxnav">
  <button class="boxnav__item boxnav__item--prev">
    +arrow-line-svg('boxnav__svg')
  </button>
  <div class="boxnav__item boxnav__item--label">
    <span class="boxnav__label boxnav__label--current">1</span>
    <span class="boxnav__label boxnav__label--total"></span>
  </div>
  <button class="boxnav__item boxnav__item--next">
    +arrow-line-svg('boxnav__svg')
  </button>
</nav>