<div class="slideshow">
  <div class="slide">
    <div class="slide__wrap">
      .top__background
        <div class="slide__img" style="background-image: url(assets/images/top-background.jpg);"></div>
      <div class="slide__title-wrap">
        .top__slide
          .container
            .top__slide-row
              .top__slide-col
                h1.top__slide-title
                  |Эксперт на рынке 
                  br
                  |инженерного 
                  br
                  |обеспечения
              .top__slide-col
      </div>
    </div>
  </div>
  <div class="slide">
    <div class="slide__wrap">
      .top__background
        <div class="slide__img" style="background-image: url(assets/images/top-background-1.jpg);"></div>
      <div class="slide__title-wrap">
        .top__slide
          .container
            .top__slide-row
              .top__slide-col
                h1.top__slide-title
                  |Инженерная 
                  br
                  |сантехника Valtec
                .top__slide-button
                  .button
                    a.button__btn(href='#')
                      |Каталог Valtec
              .top__slide-col
                img.top__slide-img.top__slide-img--valtec(src='assets/images/company.png' alt='')
      </div>
    </div>
  </div>
  <div class="slide">
    <div class="slide__wrap">
      .top__background
        <div class="slide__img" style="background-image: url(assets/images/top-background-2.jpg);"></div>
      <div class="slide__title-wrap">
        .top__slide
          .container
            .top__slide-row
              .top__slide-col
                h1.top__slide-title
                  |Стальные панельные 
                  br
                  |радиаторы
                .top__slide-button
                  .button
                    a.button__btn(href='#')
                      |Каталог Kermi
              .top__slide-col
                img.top__slide-img.top__slide-img--kermi(src='assets/images/company-1.jpg' alt='')
      </div>
    </div>
  </div>
  <div class="slide">
    <div class="slide__wrap">
      .top__background
        <div class="slide__img" style="background-image: url(assets/images/top-background-3.jpg);"></div>
      <div class="slide__title-wrap">
        .top__slide
          .container
            .top__slide-row
              .top__slide-col
                h1.top__slide-title
                  |Полипропиленовые 
                  br
                  |трубы и фитинги Tebo
                .top__slide-button
                  .button
                    a.button__btn(href='#')
                      |Каталог Tebo
              .top__slide-col
                img.top__slide-img.top__slide-img--tebo(src='assets/images/company-2.png' alt='')
      </div>
    </div>
  </div>
</div>