footer.footer
  .container
    .footer__container
      .footer__top
        section.footer__contacts
          .footer__phone
            a.footer__phone-link(href='#')
              |8 812 241-10-15
          .footer__email
            a.footer__email-link(href='#')
              |info@inzstep.ru
        section.footer__navigation
          nav.footer__nav
            ul.footer__nav-list
              li.footer__nav-item
                a.footer__nav-link(href='#')
                  |О компании
              li.footer__nav-item
                a.footer__nav-link(href='#')
                  |Новости
              li.footer__nav-item
                a.footer__nav-link(href='#')
                  |Объекты
              li.footer__nav-item
                a.footer__nav-link(href='#')
                  |Документация
              li.footer__nav-item
                a.footer__nav-link(href='#')
                  |Клиентам
              li.footer__nav-item
                a.footer__nav-link(href='#')
                  |Контакты
      section.footer__docs
        ul.footer__docs-list
          li.footer__docs-item
            a.footer__docs-link(href='#')
              |Политика конфеденциальности
          li.footer__docs-item
            a.footer__docs-link(href='#')
              |Обработка персональных данных
      section.footer__copyright
        p.footer__author
          span.footer__author-text
            |© 2021 ИнжСтэп. Все права защищены
        p.footer__dev
          span.footer__dev-text
            |Сделано в&nbsp;
          a.footer__dev-link(href='#')
            |CloudMill
      
      
      
      