@font-face {
    font-family: 'StyreneALC';
    src: url('../fonts/StyreneALC-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'StyreneALC';
    src: url('../fonts/StyreneALC-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'StyreneALC';
    src: url('../fonts/StyreneALC-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'StyreneBLC';
    src: url('../fonts/StyreneBLC-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'StyreneBLC';
    src: url('../fonts/StyreneBLC-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'StyreneBLC';
    src: url('../fonts/StyreneBLC-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@import "_variables.scss";

@import "_mixins.scss";

@import "vendors/*.scss";

@import "base/*.scss";

@import "modules/*.scss";

@import "partials/*.scss";

@import "pages/*.scss";