// link
@mixin link--hover() {
  &__text {
      color: $color-black;
  }

  &__img {
      transform: none;
      visibility: visible;

      opacity: 1;
  }
}

// slider-button
@mixin slider-button__button--hover() {
  background-color: $color-main;
  border-color: $color-main;

  &+.slider-button__svg {
    path {
        fill: $color-white;
    }
  }
}

// news-card
@mixin news-card__frame() {
  &__frame {
    width: 100%;
    display: flex;
  }
  &__frame-inner {
      position: relative;
      z-index: 0;

      &::before {
          position: absolute;
          z-index: 1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;

          content: '';
          pointer-events: none;

          transition: $transition;
      }
  }
  &__frame-img {
      display: block;
  }
}
@mixin news-card__mark() {
  &__mark {
    position: absolute;
    z-index: 2;
    top: 7px;
    right: 10px;
    @media (min-width: $breakpoint) {
        top: 13px;
        right: 20px;
    }

    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    @media (min-width: $breakpoint) {
        font-size: 46px;
    }
    color: white;
  }
}
@mixin news-card__date() {
  &__date {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;

    padding: 10px;
    @media (min-width: $breakpoint) {
        padding-top: 8px;
        padding-bottom: 7px;
    }

    background-color: white;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    @media (min-width: $breakpoint) {
        font-size: 14px;
        line-height: 17px;
    }
  }
}

@mixin scrollbar-hidden() {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
