include ../mixins/_mixins.pug

block pageOpt
  -
    const pageOpt = {
      bodyClass:[
        'body',
        'body--main',
      ],
      mainClass:'main',
    };



doctype html
html(lang='en')

  head
    meta(charset="UTF-8")
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    <![endif]-->
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="format-detection", content="telephone=no")
    meta(name="format-detection", content="address=no")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=9eaf2d45-34a5-4620-bac6-0482e9335845&lang=ru_RU" type="text/javascript")

  body(class=pageOpt.bodyClass)
    block header
    main(class=pageOpt.mainClass)
      block content
    block footer
    block scripts
