mixin header-catalog
  .header-catalog
    .header-catalog__inner
      .header-catalog__row
        .header-catalog__col.header-catalog__col--panel
          ul.panel.panel--white
            li.panel__item.panel__item--active
              +mark-svg('panel__svg')
              a.panel__link.panel-text(href='#')
                |Отопление
            li.panel__item
              +mark-svg('panel__svg')
              a.panel__link.panel-text(href='#')
                |Водоснабжение
            li.panel__item
              +mark-svg('panel__svg')
              a.panel__link.panel-text(href='#')
                |Приборы учета тепла и воды
            li.panel__item
              +mark-svg('panel__svg')
              a.panel__link.panel-text(href='#')
                |Трубопроводная арматура
            li.panel__item
              +mark-svg('panel__svg')
              a.panel__link.panel-text(href='#')
                |Теплоизоляционные материалы
            li.panel__item
              +mark-svg('panel__svg')
              a.panel__link.panel-text(href='#')
                |Полотенцесущители
            li.panel__item
              +mark-svg('panel__svg')
              a.panel__link.panel-text(href='#')
                |Канализация
            li.panel__item
              +mark-svg('panel__svg')
              a.panel__link.panel-text(href='#')
                |Продукция марки Valtec
            li.panel__item
              +mark-svg('panel__svg')
              a.panel__link.panel-text(href='#')
                |Крепежные изделия
        .header-catalog__col.header-catalog__col--tabs
          ul.header-catalog__tabs
            li.header-catalog__tabs-item.header-catalog__tabs-item--active
              ul.header-catalog__links
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Sanline.  Трубы Pex и фитинги для систем внутридомовой разводки отопления
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Sanline. Коллекторные узлы. Балансировочная арматура
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Термостатическая арматура и комплектующие
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Отопительные приборы
            li.header-catalog__tabs-item
              ul.header-catalog__links
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Полипропиленовые трубы TEBO Technics
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Полипропиленовые фитинги TEBO Technics
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Оборудование для монтажа ПП Труб
            li.header-catalog__tabs-item
              ul.header-catalog__links
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Счетчики воды Пульс
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Теплосчетчики
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Счетчики распределители тепловой энергии
            li.header-catalog__tabs-item
              ul.header-catalog__links
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Краны шаровые латунные Altstream
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Резьбовые латунные фитинги Altstream
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Обратные клапаны Altstream
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Фильтры
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Регуляторы расхода
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Регуляторы давления
            li.header-catalog__tabs-item
              ul.header-catalog__links
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Экоролл Теплоизоляция из минеральной ваты
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Теплоизоляция из вспененного полиэтилена Термофлекс
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Теплоизоляция из вспененного каучука Armacell
            li.header-catalog__tabs-item
              ul.header-catalog__links
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Внутренняя Канализация Политрон
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Противопожарные муфты
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Наружняя канализация
            li.header-catalog__tabs-item
              ul.header-catalog__links
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |PAROC теплоизоляция из базальтовой ваты
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Экоролл теплоизоляция из минеральной ваты
            li.header-catalog__tabs-item
              ul.header-catalog__links
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Системы металлополимерных и полимерных трубопроводов
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Системы полипропиленовых трубопроводов
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Системы трубопроводов из нержавеющей стали
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Приборы учета
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Трубопроводная арматура
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Шаровые краны для газоснабжения
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Резьбовые и ремонтные соединения для трубопроводов
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Фильтры
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Водяной теплый пол
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Узлы для горизонтальных систем отопления и водоснабжения
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Системы диспетчеризации
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Элементы автоматики
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Коллекторные системы
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Радиаторная арматура
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Регулирующая арматура
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Контрольно-измерительные приборы
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Арматура безопасности
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Системы модульного монтажа
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Насосное оборудование
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Подводка гибкая
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Баки мембранные
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Инструмент
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Техническая теплоизоляция
                li.header-catalog__links-item
                  a.header-catalog__links-link.panel-text(href='#')
                    |Крепеж и расходные материалы
            li.header-catalog__tabs-item
              ul.header-catalog__links
