mixin header-catalog
  .header-catalog
    .header-catalog__inner
      .header-catalog__row
        .header-catalog__col.header-catalog__col--panel
          ul.panel.panel--white
            li.panel__item.panel__item--active
              +mark-svg('panel__svg')
              span.panel__text
                |Отопление
            li.panel__item
              +mark-svg('panel__svg')
              span.panel__text
                |Водоснабжение
            li.panel__item
              +mark-svg('panel__svg')
              span.panel__text
                |Приборы учета тепла и воды
            li.panel__item
              +mark-svg('panel__svg')
              span.panel__text
                |Трубопроводная арматура
            li.panel__item
              +mark-svg('panel__svg')
              span.panel__text
                |Теплоизоляционные материалы
            li.panel__item
              +mark-svg('panel__svg')
              span.panel__text
                |Полотенцесущители
            li.panel__item
              +mark-svg('panel__svg')
              span.panel__text
                |Канализация
            li.panel__item
              +mark-svg('panel__svg')
              span.panel__text
                |Продукция марки Valtec
            li.panel__item
              +mark-svg('panel__svg')
              span.panel__text
                |Крепежные изделия
        .header-catalog__col.header-catalog__col--tabs
          ul.header-catalog__tabs
            - for (let i=0; i<9; i++)
              li.header-catalog__tabs-item(class = (i === 0 ? 'header-catalog__tabs-item--active' : ''))
                ul.header-catalog__links
                  li.header-catalog__links-item
                    a.header-catalog__links-link(href='#')
                      |Sanline.  Трубы Pex и фитинги для систем внутридомовой разводки отопления
                  if (i % 2 === 0)
                    li.header-catalog__links-item
                      a.header-catalog__links-link(href='#')
                        |Sanline. Коллекторные узлы. Балансировочная арматура
                  li.header-catalog__links-item
                    a.header-catalog__links-link(href='#')
                      |Термостатическая арматура и комплектующие
                  if (i % 3 === 0)
                    li.header-catalog__links-item
                      a.header-catalog__links-link(href='#')
                        |Отопительные приборы
