mixin header-menu
  .header-menu
    .header-menu__inner
      .header-menu__wrapper
        .header-menu__container
          .header-menu__catalog
            .header-menu__catalog-button
              .header-menu__catalog-button-text
                |Каталог
              +arrow-svg('header-menu__catalog-button-svg')
            .header-menu__catalog-dropdown
              -
                const sections = [
                  'Отопление',
                  'Водоснабжение',
                  'Приборы учета тепла и воды',
                  'Трубопроводная арматура',
                  'Теплоизоляционные материалы',
                  'Полотенцесущители',
                  'Канализация',
                  'Продукция марки Valtec',
                  'Крепежные изделия',
                ];
              each section in sections
                .header-menu__section
                  .header-menu__section-button
                    .header-menu__section-button-text
                      |#{section}
                    +arrow-svg('header-menu__section-button-svg')
                  .header-menu__section-dropdown
                    ul.header-menu__links
                      li.header-menu__links-item
                        a.header-menu__links-link(href='#')
                          |Sanline.  Трубы Pex и фитинги для систем внутридомовой разводки отопления
                      li.header-menu__links-item
                        a.header-menu__links-link(href='#')
                          |Sanline. Коллекторные узлы. Балансировочная арматура
                      li.header-menu__links-item
                        a.header-menu__links-link(href='#')
                          |Термостатическая арматура и комплектующие
                      li.header-menu__links-item
                        a.header-menu__links-link(href='#')
                          |Отопительные приборы
          .header-menu__row
            .header-menu__col.header-menu__col--nav
              ul.header-menu__nav
                li.header-menu__nav-item
                  a.header-menu__nav-link(href='#')
                    |О компании
                li.header-menu__nav-item
                  a.header-menu__nav-link(href='#')
                    |Новости
                li.header-menu__nav-item
                  a.header-menu__nav-link(href='#')
                    |Объекты
                li.header-menu__nav-item
                  a.header-menu__nav-link(href='#')
                    |Документация
                li.header-menu__nav-item
                  a.header-menu__nav-link(href='#')
                    |Контакты
            .header-menu__col.header-menu__col--email
              a.header-menu__email(href='#')
                svg.header-menu__email-svg(width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M2 0H20C21.1046 0 22 0.89543 22 2V16C22 17.1046 21.1046 18 20 18H2C0.89543 18 0 17.1046 0 16V2C0 0.89543 0.89543 0 2 0ZM2 6.61811V16H20V6.61853L11 11.1185L2 6.61811ZM2 4.38199L11 8.88245L20 4.38247V2H2V4.38199Z" fill="white")
