mixin search-modal
  .search-modal
    .container
      .search-modal__inner
        .search-modal__container
          .search-modal__close
            +close-svg('search-modal__close-button')
          .search-modal__form
            form.search-form.search-form--white
              input.search-form__input(name='request' placeholder='Что вы хотите найти?')
              button.search-form__button(type="submit")
                |поиск