mixin sections
  -
    var data = [
      {
        title: 'Отопление',
        items: [
          'Sanline.  Трубы Pex и фитинги для систем внутридомовой разводки отопления',
          'Sanline. Коллекторные узлы. Балансировочная арматура.',
          'Термостатическая арматура и комплектующие',
          'Радиаторы KERMI',
        ],
      },
      {
        title: 'Водоснабжение',
        items: [
          'Счетчики воды Пульс',
          'Полипропиленовые фитинги TEBO Technics',
          'Оборудование для монтажа ПП Труб',
        ],
      },
      {
        title: 'Приборы учета тепла и воды',
        items: [
          'Экоролл Теплоизоляция из минеральной ваты',
          'Теплоизоляция из вспененного полиэтилена Термофлекс',
          'Теплоизоляция из вспененного каучука Armacell',
        ],
      },
      {
        title: 'Трубопроводная арматура',
        items: [
          'Системы металлополимерных и полимерных трубопроводов',
          'Системы трубопроводов из нержавеющей стали',
          'Приборы учета',
          'Трубопроводная арматура',
          'Шаровые краны для газоснабжения',
          'Резьбовые и ремонтные соединения для трубопроводов',
          'Приборы учета',
        ],
      },
      {
        title: 'Отопление',
        items: [
          'Sanline.  Трубы Pex и фитинги для систем внутридомовой разводки отопления',
          'Sanline. Коллекторные узлы. Балансировочная арматура.',
          'Термостатическая арматура и комплектующие',
          'Радиаторы KERMI',
        ],
      },
      {
        title: 'Водоснабжение',
        items: [
          'Счетчики воды Пульс',
          'Полипропиленовые фитинги TEBO Technics',
          'Оборудование для монтажа ПП Труб',
        ],
      },
      {
        title: 'Приборы учета тепла и воды',
        items: [
          'Экоролл Теплоизоляция из минеральной ваты',
          'Теплоизоляция из вспененного полиэтилена Термофлекс',
          'Теплоизоляция из вспененного каучука Armacell',
        ],
      },
      {
        title: 'Трубопроводная арматура',
        items: [
          'Системы металлополимерных и полимерных трубопроводов',
          'Системы трубопроводов из нержавеющей стали',
          'Приборы учета',
          'Трубопроводная арматура',
          'Шаровые краны для газоснабжения',
          'Резьбовые и ремонтные соединения для трубопроводов',
          'Приборы учета',
        ],
      },
      {
        title: 'Трубопроводная арматура',
        items: [
          'Системы металлополимерных и полимерных трубопроводов',
          'Системы трубопроводов из нержавеющей стали',
          'Приборы учета',
          'Трубопроводная арматура',
          'Шаровые краны для газоснабжения',
          'Резьбовые и ремонтные соединения для трубопроводов',
          'Приборы учета',
        ],
      },
    ]
  .sections
    each block in data
      .sections__block
        .sections__title
          |#{block.title}
        .sections__list
          each item in block.items
            .sections__item
              a.section-link(href='#')
                |#{item}
