mixin sections
  -
    var data = [
      [
        'Sanline.  Трубы Pex и фитинги для систем внутридомовой разводки отопления',
        'Sanline. Коллекторные узлы. Балансировочная арматура.',
        'Термостатическая арматура и комплектующие',
        'Радиаторы KERMI',
      ],
      [
        'Счетчики воды Пульс',
        'Полипропиленовые фитинги TEBO Technics',
        'Оборудование для монтажа ПП Труб',
      ],
      [
        'Экоролл Теплоизоляция из минеральной ваты',
        'Теплоизоляция из вспененного полиэтилена Термофлекс',
        'Теплоизоляция из вспененного каучука Armacell',
      ],
      [
        'Системы металлополимерных и полимерных трубопроводов',
        'Системы трубопроводов из нержавеющей стали',
        'Приборы учета',
        'Трубопроводная арматура',
        'Шаровые краны для газоснабжения',
        'Резьбовые и ремонтные соединения для трубопроводов',
        'Приборы учета',
      ],
    ]
  .sections
    each items in data
      .sections__block
        .sections__list
          each item in items
            .sections__item
              a.section-link(href='#')
                |#{item}
