mixin top
  .top
    .top__slider
      .top__slider-slideshow
        include ../external/codrops/_slideshow
      .top__slider-details
        include ../external/codrops/_details
    .top__ui
      .top__ui-guides
        span.top__ui-guides-line
        span.top__ui-guides-line
        span.top__ui-guides-line
        span.top__ui-guides-line
      .top__ui-container
        .top__ui-row
          .top__ui-scroll
            +arrow-line-svg('top__ui-scroll-svg')
          .top__ui-decor
            |01 — 03
        .top__ui-row
          .top__ui-control
            include ../external/codrops/_boxnav
            