footer.footer
    .footer__contacts

    nav.footer__nav
        ul.footer__nav-list
            li.footer__nav-item
                a.footer__nav-link(href='#')
            li.footer__nav-item
                a.footer__nav-link(href='#')
            li.footer__nav-item
                a.footer__nav-link(href='#')
            li.footer__nav-item
                a.footer__nav-link(href='#')
            li.footer__nav-item
                a.footer__nav-link(href='#')
            li.footer__nav-item
                a.footer__nav-link(href='#')

    .footer__docs
        ul.footer__dosc-list
            li.footer__docs-item
                a.footer__docs-link(href='#')

    .footer__bottom
        .footer__bottom-copyright
            p.footer__bottom-copyright-text
                |© 2021 ИнжСтеп. Все права защищены
        .footer__bottom-author
            p.footer__bottom-author-text
                |Сделано в
                a.footer__bottom-author-link(href='#')
                    |CloudMill
